 <style>
    body {
      background-color: #E9C891 !important;
    }
 </style>


<div class='w-full max-w-xs mx-auto'>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class='form flex-col'>
      <h1 class='text-center my-10 text-yellow-700 text-4xl'>Sign up</h1>
      <div class="form-inputs  text-yellow-700 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label_html: { class: 'text-yellow-700 block text-sm font-bold mb-2' },
                    class: 'bg-yellow-700 text-red text-lg ' %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" },
                    label_html: { class: 'text-yellow-700 block text-sm font-bold mb-2' } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    label_html: { class: 'text-yellow-700 block text-sm font-bold mb-2' } %>
      </div>
      <div class="form-actions bg-yellow-700 w-full text-center rounded">
        <%= f.button :submit, "Sign up",
        class: 'bg-yellow-700 text-white text-lg py-3 ' %>
      </div>

    </div>
  <% end %>
</div>



<%# <%= render "devise/shared/links" %>
