<nav class="flex items-center px-8 h-20 bg-gray-100 justify-between">
  <!-- left side -->
  <div class="flex items-left h-10 w-full">
    <%= image_tag('Logo.png') %>
  </div>

  <!-- right side -->
  <div class="flex flex-row justify-around">
    <div><%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a event"
      %></div>
      <div><%= submit_tag "Search", class: "btn btn-primary" %></div>
    <% end %>
  </div>
  <div class="flex flex-row justify-around">
      <a class="block p-3"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></a>
      <a class="block p-3"><%= link_to "Login", new_user_session_path, class: "nav-link" %></a>
  </div>
</nav>
