<nav class="flex items-center px-12 h-24 bg-gray-100 justify-between">
  <!-- left side -->
  <div class="flex items-left h-10 w-20">
    <%= link_to image_tag('Logo.png'), root_path %>
  </div>

  <!-- right side -->
  <div class="flex flex-row justify-around">
    <div><%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a event"
      %></div>
      <div><%= submit_tag "Search", class: "btn btn-primary" %></div>
    <% end %>
  </div>
  <div class="flex flex-row justify-around">
    <% if user_signed_in? %>
      <a class="block p-3"><%= link_to "My events", profile_path(current_user), class: "nav-link" %></a>
      <a class="block p-3"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
    <% else %>
      <a class="block p-3"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></a>
      <a class="block p-3"><%= link_to "Login", new_user_session_path, class: "nav-link" %></a>
    <% end %>
  </div>
</nav>
