<style>
 .rounded-lg {box-shadow: 3px 3px 3px 	#D3D3D3; border: none;}
</style>

<%= javascript_pack_tag 'validateTime' %>

<div class='flex-col text-center'>
  <%= form_with model: event do |form| %>
  <div class='flex-col gap-5'>
    <div>
      <div>
        <%= form.label :name, "Event Title",
        class: ' '
         %>
      </div>
      <div>
        <%= form.text_field :name,
        class: ' rounded-lg w-5/12' %>
      </div>
    </div>
    <div>
      <div>
        <%= form.label :description, "Description",
        class: ' ' %>
      </div>
      <div>
        <%= form.text_area :description,
        class: ' rounded-lg w-5/12' %>
      </div>
    </div>
    <div>
      <div>
        <%= form.label :limit, "Limit" %>
      </div>
      <div>
        <%= form.number_field :limit,
        class: ' rounded-lg w-5/12' %>
      </div>
    </div>
    <div class='flex justify-center p-6  '>
      <div>
        <div>
          <%= form.label :date, "Date",
          class: '' %>
        </div>
        <div>
          <%= form.date_field :date,
          class: ' rounded-lg m-3.5 ' %>
        </div>
      </div>
      <div>
        <div>
          <%= form.label :start_time, "Start Time",
          class: ' ' %>
        </div>
        <div>
          <%= form.time_field :start_time,
          class: ' rounded-lg m-3.5' %>
        </div>
      </div>
      <div>
        <div>

          <%= form.label :end_time, "End Time",
          class: ' ' %>
        </div>
        <div>
          <%= form.time_field :end_time,
          class: ' rounded-lg m-3.5 ' %>
        </div>
    </div>
    </div>
    <div>
      <div>
        <%= form.label :address, "Address",
        class: ' ' %>
      </div>
      <div>
        <%= form.text_field :address,
        class: ' rounded-lg w-5/12 ' %>
      </div>
    </div>
    <div>
      <div>
        <%= form.label :img_url, "Featured Photo",
        class: ' ' %>
      </div>
      <div>
        <%= form.text_field :img_url,
        class: ' rounded-lg w-5/12 ' %>
      </div>
    </div>
    <div>
      <%= form.submit 'Post',
      class: 'rounded-lg w-5/12 text-white bg-yellow-700'%>
    </div>


  </div>
  <% end %>
</div>
