<style>
 .rounded-lg {box-shadow: 3px 3px 3px 	#D3D3D3; border: none; margin: 1rem auto}
</style>

<div class='flex-col text-center'>
  <%= form_with model: event do |form| %>
  <div class='flex-col gap-5'>
    <div>
      <div class='relative w-1/2 ml-20 pl-6'>
        <%= form.label :name, "Event Title"%>
      </div>
      <div>
        <%= form.text_field :name,
        class: ' rounded-lg w-5/12' %>
      </div>
    </div>
    <div>
      <div class='relative w-1/2 ml-20 pl-7 '>
        <%= form.label :description, "Description" %>
      </div>
      <div>
        <%= form.text_area :description,
        class: ' rounded-lg w-5/12' %>
      </div>
    </div>
    <div>
      <div class='relative w-1/2 ml-14 pl-7 '>
        <%= form.label :limit, "Limit" %>
      </div>
      <div>
        <%= form.number_field :limit,
        class: ' rounded-lg w-5/12' %>
      </div>
    </div>
    <div class='flex justify-center relative p-6  mx-5'>
      <div class='relative'>
        <div class='absolute mr-5 mb-2'>
          <%= form.label :date, "Date" %>
        </div>
        <div>
          <%= form.date_field :date,
          class: ' rounded-lg m-3.5 ' %>
        </div>
      </div>
      <div class='relative mx-7'>
        <div class='absolute mr-5 mb-2'>
          <%= form.label :start_time, "Start Time" %>
        </div>
        <div>
          <%= form.time_field :start_time,
          class: ' rounded-lg m-3.5' %>
        </div>
      </div>
      <div class='relative'>
        <div class='absolute mr-5 mb-2'>

          <%= form.label :end_time, "End Time" %>
        </div>
        <div>
          <%= form.time_field :end_time,
          class: ' rounded-lg m-3.5 ' %>
        </div>
    </div>
    </div>
    <div>
      <div class='relative w-1/2 ml-20 pl-2'>
        <%= form.label :address, "Address" %>
      </div>
      <div>
        <%= form.text_field :address,
        class: ' rounded-lg w-5/12 ' %>
      </div>
    </div>
    <div>
      <div class='relative w-1/2 ml-20 pl-12 '>
        <%= form.label :img_url, "Featured Photo" %>
      </div>
      <div>
        <%= form.text_field :img_url,
        class: ' rounded-lg w-5/12 ' %>
      </div>
    </div>
    <div>
      <%= form.submit 'Post',
      class: 'rounded-lg w-5/12 text-white bg-yellow-700 px-5 py-3 '%>
    </div>


  </div>
  <% end %>
</div>
