<%= form_with model: event do |form| %>

  <%= form.label :name, "Name" %>
  <%= form.text_field :name %>

  <%= form.label :description, "Description" %>
  <%= form.text_area :description %>

  <%= form.label :limit, "Limit" %>
  <%= form.number_field :limit %>

 <section class="datetime section">
    <fieldset class="datepicker">
      <%= form.label :date, 'Date' %>
      <%= form.date_field :date, id: 'date' %>
    </fieldset>
    <fieldset class="select is-full / timeslot">
      <%= form.label :time, 'Available timeslots' %>
      <%= form.time_field :time %>
    </fieldset>
  </section>

  <%= form.submit %>
<% end %>
