<div class="flex px-10 py-10 justify-between shadow">
  <!-- left side -->
  <div class="flex justify-center items-left h-24 w-full">
    <%= image_tag('Logo.png') %>
  </div>

  <!-- right side -->
  <div class="flex items-center">
    <div><%= form_tag events_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find an event" %>
    </div>
    <div><%= button_tag :submit do %>
      <svg class="w-5 ml-1" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="flex items-center space-x-3">
    <% if user_signed_in? %>
      <a class="block p-3"><%= link_to "My events", profile_path(current_user), class: "nav-link" %></a>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link block p-3" %>
    <% else %>
      <a class="block p-3"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></a>
      <a class="block p-3"><%= link_to "Login", new_user_session_path, class: "nav-link" %></a>
    <% end %>
  </div>
</div>
<!-- navbar ends -->
<div class='px-14'>
  <h1 class='font-bold text-gray-800 text-3xl my-10'>Upcoming Events</h1>
  <!--Card event-->
  <div class='max-w-screen-lg grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4'>
    <% @events.first(20).each do |event| %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg">
          <img class="w-full h-72 md:h-56 object-cover" src="<%= event.img_url %>" alt="randomIMG">
          <div class="px-2 py-2">
            <div class="font-bold text-base text-yellow-700 mb-2"><%= link_to event.date, event %></div>
              <p class="text-gray-800 text-base">
              <%= link_to event.name, event %>
              </p>
            </div>
          <div class="flex p-2 inline justify-between">
            <span class="inline-block text-sm font-semibold text-gray-700 mr-2 mb-2"><%= event.users.length %> Going</span>
            <span class="inline-block text-sm font-semibold text-gray-700 mr-2 mb-2"><%= link_to "Join", event_path(event) %></span>
          </div>
        </div>
    <% end %>
  </div>
</div>
