
 <div>
  <div class='w-50 m-auto mt-0'>
    <%= image_tag('Logo.png') %>
  </div>
  <div class='flex-col'>
    <h1 class='my-3'>Upcoming Events</h1>
    <div>
      <%= link_to 'New Event', new_event_path %>
    </div>

    <div class='flex justify-between gap-4 max-w-1'>
      <% @events.first(4).each do |event| %>
        <div class="w-1/3">
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
            <%= link_to event do %>
              <img class="max-w-1 max-h-2/3" src="https://source.unsplash.com/random" alt="randomIMG">
            <% end %>
            <div class="px-2 py-2">
              <div class="font-bold text-xl mb-2"><%= link_to event.time.strftime(@formatted_time), event %></div>
              <p class="text-gray-700 text-base">
                <%= link_to event.name, event %>
              </p>
            </div>
            <div class="flex px-6 pt-2 pb-2 inline justify-between">
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= event.users.length %> Going</span>
              <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Join</span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
