<div class="container">
    <div class="h-300 mx-300">
      <div class="flex flex-row justify-between items-end">
        <div><p class="text-5xl text-yellow-800"><%= @event.name %></p></div>
        <div class="text-yellow-800"><p><%= @event.time %></p></div>
      </div>

      <div class="flex flex-row justify-between pt-10">
        <div>
          <p><%= User.find(@event.user_id).username %></p>
          <img class="object-cover h-3/5 w-3/5" src="https://www.jonesday.com/-/media/files/publications/2019/05/when-coding-is-criminal/when-coding-is-criminal.jpg?h=800&w=1600&la=en&hash=5522AA91198A168017C511FCBE77E201" alt="photo here">
        </div>
        <div class="flex flex-col justify-top">
          <div>
            <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Join</button>
          </div>
          <div>
            <p>Address</p>
          </div>
        </div>
      </div>

      <div class="mx-50 my-50 px-30 py-30">
        <p><%= @event.description %></p>
      </div>
    </div>
    <div>
      <% if policy(@event).edit? %>
        <%= link_to 'Edit', edit_event_path(@event) %>
      <% end %>
      <% if policy(@event).destroy? %>
        <%= link_to 'Destroy', event_path(@event), data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>

</div>
