<h1>Events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @event.name %></td>
      <td><%= @event.description %></td>
      <td><%= @event.time %></td>
      <% if policy(@event).show? %>
        <td><%= link_to 'Show', event_path(@event) %></td>
      <% end %>
      <% if policy(@event).edit? %>
        <td><%= link_to 'Edit', edit_event_path(@event) %></td>
      <% end %>
      <% if policy(@event).destroy? %>
        <td><%= link_to 'Destroy', event_path(@event), data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>
<% if policy(Event).create? %>
  <%= link_to 'New Event', :controller => 'events', :action => 'new' %>
<% end %>
