<style>
  .rounded {
    box-shadow: 3px 3px 3px #D3D3D3; border: none; margin: 1rem auto
  }
</style>

<div class="flex-col p-8">
  <div class="details flex justify-between px-10 my-10 items-center">
    <p class="text-3xl text-yellow-800"><%= @event.name.upcase %>
    </p>
    <div class="text-2xl text-yellow-800">
      <%= @event.date %> <%= @event.start_time&.strftime("from %I:%M %p") %> <%= @event.end_time&.strftime("to %I:%M %p") %>
    </div>
  </div>

  <div class="flex px-12 mt-8 gap-5">
    <div class='w-1/2'>
      <p><%= @event.users.length %> going</p>
      <img class="object-cover rounded-md" src= "<%= @event.img_url %>" alt="photo here">
    </div>
    <div class='w-1/2'> 
      <div class='mt-8 right-container grid justify-items-end h-full gap-10'>
        <div class='mt-10 button absolute top-60'>
              <% if current_user.events.include?(@event) %>
                <div class='edit-delete relative'>
                  <% if policy(@event).edit? %>
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded">
                      <a onclick="this='Joined'" >
                        <%= link_to 'Edit', edit_event_path(@event) %>
                      </a>
                    </button>
                  <% end %>
                  <% if policy(@event).destroy? %>
                    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded">
                      <a onclick="this='Joined'" >
                        <%= link_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %>
                      </a>
                    </button>
                  <% end %>
                </div>
              <% elsif @event.users.include?(current_user) %>
                <%= "You are going" %>
              <% else %>
                <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 rounded">
                  <a onclick="this='Joined'" >
                    <%= link_to 'Join', event_reservations_path(@event), method: :post %>
                  </a>
                </button>
              <% end %>
        </div>
        <div class='relative'>
          <p class='font-bold text-end'>Address:</p>
          <p><%= @event.address %></p>
        </div>
        <div id="map" class='w-3/4 h-full rounded-md' data-marker="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>

  <div class="px-12 mt-10">
    <h1 class='font-bold'>Details:</h1>
    <p><%= @event.description %></p>
  </div>
</div>
