<!DOCTYPE html>
<html>
  <head>
    <title>HobbyistClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
  </head>


  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <div class="flex-col sm:justify-center  bg-yellow-700 mt-20 ">
          <div class='flex  justify-between m-auto'>
            <a class='m-5 text-black hover:text-white hover:no-underline'>HOME</a>
            <a class='m-5 text-black hover:text-white hover:no-underline'>ABOUT US</a>
            <a class='m-5 text-black hover:text-white hover:no-underline'>CONTACT</a>
          </div>
          <div class='flex  justify-center gap-2 mr-3'>
            <a href="" class="w-8 h-8 border border-2 border-gray-400 rounded-full text-center py-1 text-gray-600 hover:text-white hover:bg-blue-600 hover:border-blue-600  mb-3">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="w-8 h-8 border border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-blue-400 hover:border-blue-400">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="w-8 h-8 border border-2 border-gray-400 rounded-full text-center py-1 ml-2 text-gray-600 hover:text-white hover:bg-red-600 hover:border-red-600">
            <i class="fab fa-youtube"></i>
          </a>
          </div>
        </div>
  </body>
</html>
